h1:first-letter {
  font-family: "cursive" ;
  font-size: 2em;
  color: #1c32f5;
  position: relative;
  padding: 0.25em 0;
}

h1:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

.main{
  text-align: center;
}

.game{
  padding-left: 50px; 
}

/* container */
.wrapper{
  width:100%;
  background-color:#fafafa;
}
.wrapper .container{
  max-width:1000px;
  margin:0px auto;
  padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
  .wrapper .container .content {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
/* container */
.wrapper{
  width:100%;
  background-color:#fafafa;
}
.wrapper .container{
  max-width:1000px;
  margin:0px auto;
  padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
  .wrapper .container .content {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
.wrapper .content-item {
  width:100%;
}
@media (min-width: 992px) {
  .wrapper .content-item {
      width:50%;
  }
}
.wrapper .image{
  display:block;
  max-width:100%;
  margin:0px auto;
}
.wrapper .text{
  padding:50px;
}
.wrapper .text .heading{
  margin:0px 0px 40px 0px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
