h1:first-letter {
  font-family: "cursive" ;
  font-size: 2em;
  color: #1c32f5;
  position: relative;
  padding: 0.25em 0;
}

h1:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

select, option{
  cursor: pointer; /* リンクカーソル（カーソルを指にする） */
}

.cp_ipselect {
  overflow: hidden; /* 選択ボックスを丸っこくする */
  width: 20%;
  margin: 2em auto;
  text-align:left;
}
.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
  position: relative;
  border-radius: 2px;
  border: 2px solid skyblue;
  border-radius: 50px;
  background: #ffffff;
  right: 30%;
}
.cp_ipselect.cp_sl01::before {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid skyblue;
  pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
  padding: 8px 38px 8px 8px;
  color: black;
}


.main{
  text-align: center;
}

.game{
  padding-left: 50px; 
  border:5px solid #ddd;
}


/* container */
.wrapper{
  width:100%;
  background-color:#fafafa;
}
.wrapper .container{
  max-width:1000px;
  margin:0px auto;
  padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
  .wrapper .container .content {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
/* container */
.wrapper{
  width:100%;
  background-color:#fafafa;
}
.wrapper .container{
  max-width:1000px;
  margin:0px auto;
  padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
  .wrapper .container .content {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
.wrapper .content-item {
  width:100%;
}
@media (min-width: 992px) {
  .wrapper .content-item {
      width:50%;
  }
}
.wrapper .image{
  display:block;
  max-width:100%;
  margin:0px auto;
}
.wrapper .text{
  padding:50px;
}
.wrapper .text .heading .game {
  margin:0px 0px 40px 0px;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
}

h3 {
  padding: 1rem 2rem;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  font-size: 30px;
}

.game {
  font-size: 20px;
  }

  #g_navi ul {
    overflow: hidden;
    margin: 0 auto;
    padding: 0 3%;
    width: 94%;
    max-width: 960px; 
    background-color: White;
  }
    #g_navi ul li {
      position: relative;
      float: left;
      width: 20%;
      list-style-type: none;
    }
      #g_navi ul li a {
         display: block;
        padding: 17px 5%;
        width: 90%;
        color: blue;
        text-align: center;
        text-decoration: none;
      }

      li+ li {
        border-left: 1px solid #333;
      }
